.header{
	color: lightblue;
	background-color: grey;
}

.main{
	background-color: lightyellow;
	font-style: italic;
}

.main span {
	background-color: lightgreen;
}

.main img {
	display: none;
}

a {
	background-color: yellow;
	display: inline-block;
	width: 50px;
	height: 80px;
}
