h1 {
	color: grey;
}
body { 
	background-color: white;
	background-image: url(Godongsalam.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}


/* http://subtlepatterns.com */ 